In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("data/train.csv")
df_test = pd.read_csv("data/test.csv")

In [4]:
df_train.head()

,Unnamed: 0,review,score,thumbsUpCount,reviewCreatedVersion,replyContent,timeToReply
0,0,Banyak bug nya!!!! Dikit¬≤ eror terus,0,0,33.0,"Hello BANK Friend, sorry for the issues you‚Äôre...",0 days 05:06:00
1,1,Cash deposit menu does not appear Even after u...,2,0,32.0,"Hello, Friend BANK. Kindly upgrade the BANKApp...",0 days 14:25:00
2,2,Sangat membantu,4,0,33.0,"Hello BANK Customer, we appreciate you using t...",0 days 00:41:00
3,3,Very cool,4,0,33.0,"Hello BANK Friend, we appreciate your review. ...",0 days 00:30:00
4,4,Improved,4,0,33.0,"Hello BANK Friend, we appreciate your feedback...",0 days 15:05:00

In [5]:
#thumbsUpCount„Åî„Å®„ÅÆscore„ÅÆÂπ≥ÂùáÂÄ§„ÇíË®àÁÆó
df_train.groupby("thumbsUpCount")["score"].mean()

thumbsUpCount
0      3.058113
1      2.076923
2      2.133333
3      0.666667
4      1.250000
5      1.250000
6      0.000000
7      0.000000
9      2.000000
10     4.000000
16     0.000000
19     0.000000
21     4.000000
29     0.000000
62     4.000000
72     0.000000
77     4.000000
93     1.000000
152    2.000000
167    0.000000
464    0.000000
Name: score, dtype: float64

In [16]:
#„É™„Éó„É©„Ç§„Å´'we appricieate'„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Çã„Åã„Å©„ÅÜ„Åã
is_we_appreciate = df_train["replyContent"].str.contains("we appreciate", na=False)
df_train["is_we_appreciate"] = is_we_appreciate

is_we_appreciate_test = df_test["replyContent"].str.contains("we appreciate", na=False)
df_test["is_we_appreciate"] = is_we_appreciate_test

In [18]:
#„É™„Éó„É©„Ç§„Å´'Sorry'„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Çã„Åã„Å©„ÅÜ„Åã
is_sorry = df_train["replyContent"].str.contains("sorry", na=False)
df_train["is_sorry"] = is_sorry

is_sorry_test = df_test["replyContent"].str.contains("sorry", na=False)
df_test["is_sorry"] = is_sorry_test

In [9]:
df_train.groupby("is_we_appreciate")["score"].mean()

is_we_appreciate
False    2.851256
True     3.756382
Name: score, dtype: float64

In [13]:
#reviewCreatedVersion„Åî„Å®„Å´„ÄÅis_we_appreciate„Ååtrue„Å†„Å£„ÅüÊôÇ„ÅÆscore„ÅÆÂπ≥ÂùáÂÄ§„ÇíË®àÁÆó
df_train.groupby(["reviewCreatedVersion", "is_we_appreciate"])["score"].mean()

reviewCreatedVersion  is_we_appreciate
0.0                   False               4.000000
1.0                   False               0.000000
2.0                   False               0.000000
3.0                   False               1.571429
                      True                4.000000
4.0                   False               0.777778
                      True                3.666667
5.0                   False               2.333333
                      True                4.000000
6.0                   False               2.200000
7.0                   False               1.333333
                      True                3.000000
8.0                   False               1.285714
9.0                   False               1.800000
10.0                  False               0.000000
11.0                  False               2.333333
                      True                4.000000
13.0                  False               0.000000
                      True                4.000000
14.0                  False               2.000000
15.0                  False               3.000000
                      True                3.500000
16.0                  False               3.166667
                      True                2.000000
17.0                  False               3.000000
                      True                4.000000
19.0                  False               3.375000
                      True                4.000000
20.0                  False               2.666667
                      True                3.666667
21.0                  False               3.384615
                      True                4.000000
22.0                  False               2.888889
                      True                3.888889
23.0                  False               3.255814
                      True                4.000000
24.0                  False               0.500000
25.0                  False               3.333333
                      True                3.571429
26.0                  True                4.000000
27.0                  False               4.000000
28.0                  False               3.370968
                      True                3.869565
29.0                  False               3.454545
                      True                3.709677
30.0                  False               3.545455
                      True                3.615385
31.0                  False               3.489796
                      True                3.846154
32.0                  False               3.222756
                      True                3.783898
33.0                  False               2.893853
                      True                3.752892
34.0                  False               0.909091
35.0                  False               2.000000
36.0                  False               2.777778
                      True                4.000000
37.0                  False               0.900000
                      True                4.000000
Name: score, dtype: float64

In [20]:
df_test.head()

,Unnamed: 0,review,thumbsUpCount,reviewCreatedVersion,replyContent,timeToReply,is_we_appreciate,is_sorry
0,8767,Mantap,0,33.0,"Hello BANK Friend, we appreciate your feedback...",0 days 02:45:00,True,False
1,8768,Straightforward and uncomplicated.,0,32.0,Thanks for the feedback. I hope the BANKApp ap...,0 days 07:30:00,False,False
2,8769,Easier to transact,0,33.0,We appreciate your feedback. Keep enhancing yo...,0 days 14:01:00,False,False
3,8770,"Alhamdulillah, the BANKApp application is very...",0,33.0,We appreciate you using the BANKApp app and en...,0 days 06:31:00,False,False
4,8771,Ioweu,0,NaN,"BANK friends, should you encounter any issues,...",0 days 22:31:00,False,False

In [75]:
df_train.head()

,Unnamed: 0,review,score,thumbsUpCount,reviewCreatedVersion,replyContent,timeToReply,is_we_appreciate,is_sorry
0,0,Banyak bug nya!!!! Dikit¬≤ eror terus,0,0,33.0,"Hello BANK Friend, sorry for the issues you‚Äôre...",0 days 05:06:00,False,True
1,1,Cash deposit menu does not appear Even after u...,2,0,32.0,"Hello, Friend BANK. Kindly upgrade the BANKApp...",0 days 14:25:00,False,False
2,2,Sangat membantu,4,0,33.0,"Hello BANK Customer, we appreciate you using t...",0 days 00:41:00,True,False
3,3,Very cool,4,0,33.0,"Hello BANK Friend, we appreciate your review. ...",0 days 00:30:00,True,False
4,4,Improved,4,0,33.0,"Hello BANK Friend, we appreciate your feedback...",0 days 15:05:00,True,False

In [81]:
def convert_to_hours(time_str):
    if isinstance(time_str, str) and " days " in time_str:
        try:
            days, time = time_str.split(" days ")
            hours, minutes, seconds = map(int, time.split(":"))
            total_hours = int(days) * 24 + hours + minutes / 60 + seconds / 3600
            return total_hours
        except ValueError:
            return np.nan  # ‰∏çÊ≠£„Å™„Éá„Éº„Çø„ÅÆÂ†¥Âêà„ÅØNaN„ÇíËøî„Åô
    else:
        return np.nan  # time_str„ÅåÊñáÂ≠óÂàó„Åß„Å™„ÅÑ„ÅãÊúâÂäπ„Å™ÂΩ¢Âºè„Åß„Å™„ÅÑÂ†¥Âêà„ÅØNaN„ÇíËøî„Åô

In [83]:
df_train["total_hours"] = df_train["timeToReply"].apply(convert_to_hours)

,Unnamed: 0,review,score,thumbsUpCount,reviewCreatedVersion,replyContent,timeToReply,is_we_appreciate,is_sorry,total_hours
0,0,Banyak bug nya!!!! Dikit¬≤ eror terus,0,0,33.0,"Hello BANK Friend, sorry for the issues you‚Äôre...",0 days 05:06:00,False,True,5.100000
1,1,Cash deposit menu does not appear Even after u...,2,0,32.0,"Hello, Friend BANK. Kindly upgrade the BANKApp...",0 days 14:25:00,False,False,14.416667
2,2,Sangat membantu,4,0,33.0,"Hello BANK Customer, we appreciate you using t...",0 days 00:41:00,True,False,0.683333
3,3,Very cool,4,0,33.0,"Hello BANK Friend, we appreciate your review. ...",0 days 00:30:00,True,False,0.500000
4,4,Improved,4,0,33.0,"Hello BANK Friend, we appreciate your feedback...",0 days 15:05:00,True,False,15.083333
...,...,...,...,...,...,...,...,...,...,...
8762,8762,Mantapüëçüëçüëçüëçüëçüëçüëçüëç,4,0,33.0,"Thank you for using the BANKApp app, and remem...",0 days 19:58:00,False,False,19.966667
8763,8763,Appreciation. Gratitude for simplifying things...,4,0,32.0,We appreciate you using the BANKApp app. Be su...,0 days 11:51:00,False,False,11.850000
8764,8764,üëçüëç,4,0,32.0,"We appreciate you using the BANKApp app, and r...",0 days 03:48:00,False,False,3.800000
8765,8765,Cool..always improve BANK..üëçüòä,4,0,33.0,"Hello Friend BANK, I appreciate your feedback....",0 days 01:21:00,False,False,1.350000
8766,8766,Keren,3,0,33.0,Thank you for the feedback. We hope the BANKAp...,4 days 12:21:00,False,False,108.350000

In [69]:
X_train = df_train[["thumbsUpCount", "reviewCreatedVersion", "is_we_appreciate", "is_sorry"]]
y_train = df_train["score"]
X_test = df_test[["thumbsUpCount", "reviewCreatedVersion", "is_we_appreciate", "is_sorry"]]

In [70]:
#lightgbm„Çí‰Ωø„Å£„Å¶Â≠¶Áøí
import lightgbm as lgb

lgb_train = lgb.Dataset(X_train, y_train)
params = {
    "objective": "regression",
    "metrics": "rmse"
}
model = lgb.train(params, lgb_train, num_boost_round=100)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001384 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 48
[LightGBM] [Info] Number of data points in the train set: 8767, number of used features: 4
[LightGBM] [Info] Start training from score 3.037299
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

In [71]:
X_test

      thumbsUpCount  reviewCreatedVersion  is_we_appreciate  is_sorry
0                 0                  33.0              True     False
1                 0                  32.0             False     False
2                 0                  33.0             False     False
3                 0                  33.0             False     False
4                 0                   NaN             False     False
...             ...                   ...               ...       ...
5841              0                   NaN             False     False
5842              0                   NaN             False     False
5843              0                  32.0             False     False
5844              1                  33.0             False     False
5845              1                   NaN             False     False

[5846 rows x 4 columns]

In [72]:
y_pred = model.predict(X_test)

In [73]:
#ÂõõÊç®‰∫îÂÖ•„Åó„Å¶Êï¥Êï∞„Å´Â§âÊèõ
y_pred = np.round(y_pred).astype(int)
len(y_pred)

5846

In [74]:
#ÊèêÂá∫Áî®„Éï„Ç°„Ç§„É´„Çí‰ΩúÊàê.2Ô∏èÂàóÁõÆ„ÇíÊõ∏„ÅçÊèõ„Åà„Çã
df_submission = pd.read_csv("data/sample_submission.csv", header=None)
df_submission[1] = y_pred
df_submission.to_csv("submission.csv", index=False, header=False)